{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>RadMan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
<div class="flex">
    <nav class="w-1/5 bg-gray-200 h-screen p-4">
        <div class="text-center text-gray-500 uppercase text-sm">Application</div>
        <hr class="my-4 border-gray-300">
        <ul>
            <li class="mb-2"><a href="{% url 'batch_list' %}" class="text-blue-500 hover:underline">Home</a></li>
            <li class="mb-2"><a href="{% url 'patient_list' %}" class="text-blue-500 hover:underline">Patients</a></li>
        </ul>
        <hr class="my-4 border-gray-300">
        <div class="text-center text-gray-500 uppercase text-sm">Setup</div>
        <hr class="my-4 border-gray-300">
        <ul>
            <li class="mb-2"><a href="{% url 'compound_list' %}" class="text-blue-500 hover:underline">Compounds</a>
            <li class="mb-2"><a href="{% url 'procedure_list' %}" class="text-blue-500 hover:underline">Procedures</a>
            </li>
        </ul>
    </nav>
    <main class="w-4/5 p-4">
        {% block content %}
        {% endblock %}
    </main>
</div>
</body>
</html>
